.shop .item-grid img{
    width: 100%;
}

.categories li.selected {
    background-color: #19a121;
}
div[category-select]{
    background: #9d9d9d;
}

.item-grid {
    background: #b7b7b7;
}

.item-grid>div{
    background: #b7b7b7;
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
    margin: 10px auto;
    height: 450px;
    box-shadow: 2px 2px 3px black;
}

.item-grid>div:hover{
    background-color: #e2e2e2;
}

.item-description{
    overflow-x: auto;
    max-height: 40px;
    margin-top: 7px;
}